# LINE
LINE_CHANNEL_ACCESS_TOKEN=your-line-channel-access-token
LINE_CHANNEL_SECRET=your-line-channel-secret

# OPENAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

# SUPABASE
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# SERVER
PORT=3000

# IMAGE URL
IMG_HOME=
IMG_BACCARAT=
IMG_DG=
IMG_MT=
IMG_SET1=
IMG_SET2=
IMG_BAPHOMET=
IMG_WORLD_CUP=
IMG_MLB=
IMG_NBA=
IMG_539=
IMG_VIP=
IMG_ADMIN=
